<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Cafee_Prototype.styles.css" asp-append-version="true" />
    <title>Cofee App</title>
</head>
    <body>
        <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Main">Cofee App</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Main">Home</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ms-auto">
                                @if(User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <p class="nav-link text-dark">Hello, @User.Identity.Name</p>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
                                    </li>
                                }

                                
                            </ul>
                        </div>
                    </div>
                </nav>
        </header>
        <div class="container">
            <main role="main" class="mb-4 row">
                <div class="col-md-2">
                    <div class="d-grid gap-2">
                        @if(User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-outline-secondary text-dark" asp-controller="Home" asp-action="Main">Home</a>
                            <a class="btn btn-outline-secondary text-dark" asp-controller="Product" asp-action="ListProducts">Products</a>
                            <a class="btn btn-outline-secondary text-dark" asp-controller="Category" asp-action="ListCategories">Categories</a> 
                            <a class="btn btn-outline-secondary text-dark" asp-controller="Table" asp-action="TableList">Tables</a> 
                            <a class="btn btn-outline-secondary text-dark" asp-controller="Order" asp-action="ListOrders">Orders</a> 
                            <a class="btn btn-outline-secondary text-dark" asp-controller="Users" asp-action="ListUsers">Users</a> 
                        }
                    </div>
                </div>
                <div class="col-md-10">
                    @RenderBody()
                </div>
            </main>
        </div>

        <footer class="border-top footer text-muted bg-white">
            <div class="container">
                &copy; 2024 - Cofee App
            </div>
        </footer>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
    
</html>