
<form asp-action="QRGen" asp-controller="Table" method="post">
    <label>Enter a name</label>
    <input type="text" id="textTConvert" name="textTConvert">
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>

<img src="~/qrcodes/myQrCode.png" alt="">